preguntas_respuestas/__pycache__/tarea1.cpython-38.pyc
preguntas_respuestas/__pycache__/tarea2.cpython-38.pyc
preguntas_respuestas/__pycache__/tarea3.cpython-38.pyc
preguntas_respuestas/__pycache__/tarea4.cpython-38.pyc
preguntas_respuestas/__pycache__/tarea5.cpython-38.pyc